<a href="https://colab.research.google.com/github/AKHILESH-create/AIML-Concepts/blob/main/AI_Training4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("Customer Purchase.csv")
df.head(3)

   Age  Gender Education   Review Purchased
0   30  Female    School  Average        No
1   68  Female        UG     Poor        No
2   70  Female        PG     Good        No

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        50 non-null     int64
 1   Gender     50 non-null     object
 2   Education  50 non-null     object
 3   Review     50 non-null     object
 4   Purchased  50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

In [ ]:
#checking any missing values or not
df.isnull().sum().sum()

np.int64(0)

In [ ]:
df['Gender'].value_counts()
#this column has Nominal catgorial variable

Gender
Female    29
Male      21
Name: count, dtype: int64

In [ ]:
df['Purchased'].value_counts()
#this column has Nominal catgorial variables

Purchased
No     26
Yes    24
Name: count, dtype: int64

In [ ]:
df['Review'].value_counts()
#this column has Ordinal catgorial variables

Review
Poor       18
Good       18
Average    14
Name: count, dtype: int64

In [ ]:
df['Education'].value_counts()
#this column has Ordinal categorial variables

Education
PG        18
School    16
UG        16
Name: count, dtype: int64

WORKING ON CATEGORIAL VARIABLES

In [ ]:
df1=df.iloc[:,2:4]
df1.head(3)

  Education   Review
0    School  Average
1        UG     Poor
2        PG     Good

In [ ]:
#imlement ordinal encoding on Review
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [ ]:
oe=OrdinalEncoder(categories=[['School','UG','PG'], ['Poor','Average','Good']])
df1_oe=oe.fit_transform(df1)
df1_oe

array([[0., 1.],
       [1., 0.],
       [2., 2.],
       [2., 2.],
       [1., 1.],
       [0., 1.],
       [0., 2.],
       [0., 0.],
       [1., 1.],
       [1., 2.],
       [1., 2.],
       [1., 2.],
       [0., 0.],
       [0., 1.],
       [2., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 2.],
       [2., 0.],
       [0., 1.],
       [2., 1.],
       [2., 0.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [2., 0.],
       [2., 0.],
       [0., 0.],
       [1., 1.],
       [1., 1.],
       [0., 0.],
       [1., 1.],
       [2., 2.],
       [0., 1.],
       [0., 0.],
       [1., 2.],
       [2., 1.],
       [0., 2.],
       [2., 0.],
       [0., 2.],
       [2., 2.],
       [2., 2.],
       [2., 0.],
       [1., 1.],
       [2., 0.],
       [2., 0.],
       [2., 2.],
       [1., 2.],
       [1., 2.]])

In [ ]:
print(type(df1_oe))

<class 'numpy.ndarray'>

In [ ]:
#convert df1_oe into Dataframe
df1_oe=pd.DataFrame(df1_oe,columns=['Education','Review'])
df1.head()

  Education   Review
0    School  Average
1        UG     Poor
2        PG     Good
3        PG     Good
4        UG  Average

astype

In [ ]:
df1_oe['Review']=df1_oe['Review'].astype(int)
df1_oe['Education']=df1_oe['Education'].astype(int)
#convert df1_oe columns into integer

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Education  50 non-null     object
 1   Review     50 non-null     object
dtypes: object(2)
memory usage: 932.0+ bytes

DUMMY VARIABLES

In [ ]:
df2=df[['Gender','Purchased']]

In [ ]:
dummy_df=pd.get_dummies(df2,dtype=int,drop_first=True)
dummy_df.head()

   Gender_Male  Purchased_Yes
0            0              0
1            0              0
2            0              0
3            0              0
4            0              0

In [ ]:
dummy_df=dummy_df.astype(int)
dummy_df.head()

   Gender_Male  Purchased_Yes
0            0              0
1            0              0
2            0              0
3            0              0
4            0              0

In [ ]:
dummy_df.keys()

Index(['Gender_Female', 'Gender_Male', 'Purchased_No', 'Purchased_Yes'], dtype='object')

ONE HOT ENCODING

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder
oh_enc=OneHotEncoder(sparse_output=False,)

In [ ]:
oh_enc_arr=oh_enc.fit_transform(df)
oh_enc_arr

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [ ]:
oh_enc=OneHotEncoder(sparse_output=True,)

In [ ]:
#updating df1 and df2 into df
df.update(df1)
df.update(df2)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        50 non-null     int64
 1   Gender     50 non-null     object
 2   Education  50 non-null     object
 3   Review     50 non-null     object
 4   Purchased  50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB