<a href="https://colab.research.google.com/github/AKHILESH-create/AIML-Concepts/blob/main/AI_Training2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
print(pd.__version__)

2.2.2

In [ ]:
#creating series from list
l1= [67,87.80,"India","Japan"]
s1=pd.Series(l1)
print(s1)
print(type(s1))

0       67
1     87.8
2    India
3    Japan
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
s1=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float)
print(s1)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [ ]:
#creating series from dictionary
s2=pd.Series({'a':1,"b":2,"c":3})
print(s2)

a    1
b    2
c    3
dtype: int64

In [ ]:
#slicing series
s1[0:2]

a    1.0
b    2.0
dtype: float64

In [ ]:
s2=pd.Series({'a':2,"b":10,"c":35})
print(s2)

a     2
b    10
c    35
dtype: int64

In [ ]:
#min()
min(s2)

2

In [ ]:
#max()
max(s2)

35

PANDAS DATA FRAME

In [ ]:
#from list creat dataframe
l1=[67,87.80,"India","Japan"]
df1=pd.DataFrame(l1)
print(df1)

       0
0     67
1   87.8
2  India
3  Japan

In [ ]:
#from list of list
l1=[[1,2,3],[4,5,6],[7,8,9]]
df2=pd.DataFrame(l1)
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
#create from dictionary
d1=[{"a":1,"b":2},{"a":10,"b":20,"c":30}]
print(type(d1))
df3=pd.DataFrame(d1)
df3

<class 'list'>

    a   b     c
0   1   2   NaN
1  10  20  30.0

Pandas Read CSV

In [ ]:
df =pd.read_csv("Result_Student.csv")
df

,Student ID,Class,Study hrs,Social Media usage hrs,Percentage,Grade,Gender
0,1001,10,2,3,50,Avg,Female
1,1002,10,6,2,80,Vgood,Male
2,1003,10,3,2,60,Good,Female
3,1004,11,0,1,45,Fail,Male
4,1005,12,5,2,75,Good,Female

In [ ]:
df.head(2)

,Student ID,Class,Study hrs,Social Media usage hrs,Percentage,Grade,Gender
0,1001,10,2,3,50,Avg,Female
1,1002,10,6,2,80,Vgood,Male

In [ ]:
df.tail(4)

,Student ID,Class,Study hrs,Social Media usage hrs,Percentage,Grade,Gender
1,1002,10,6,2,80,Vgood,Male
2,1003,10,3,2,60,Good,Female
3,1004,11,0,1,45,Fail,Male
4,1005,12,5,2,75,Good,Female

In [ ]:
df.head(2)

,Student ID,Class,Study hrs,Social Media usage hrs,Percentage,Grade,Gender
0,1001,10,2,3,50,Avg,Female
1,1002,10,6,2,80,Vgood,Male

In [ ]:
df.shape

(5, 7)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Student ID              5 non-null      int64
 1   Class                   5 non-null      int64
 2   Study hrs               5 non-null      int64
 3   Social Media usage hrs  5 non-null      int64
 4   Percentage              5 non-null      int64
 5   Grade                   5 non-null      object
 6   Gender                  5 non-null      object
dtypes: int64(5), object(2)
memory usage: 412.0+ bytes

In [ ]:
df.describe()

        Student ID      Class  Study hrs  Social Media usage hrs  Percentage
count     5.000000   5.000000   5.000000                5.000000    5.000000
mean   1003.000000  10.600000   3.200000                2.000000   62.000000
std       1.581139   0.894427   2.387467                0.707107   15.247951
min    1001.000000  10.000000   0.000000                1.000000   45.000000
25%    1002.000000  10.000000   2.000000                2.000000   50.000000
50%    1003.000000  10.000000   3.000000                2.000000   60.000000
75%    1004.000000  11.000000   5.000000                2.000000   75.000000
max    1005.000000  12.000000   6.000000                3.000000   80.000000

In [ ]:
df.size

35

In [ ]:
df =pd.read_csv("IMP.csv")
df

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10.0,2,9,3,5,50.0
1,1002,10.0,6,8,2,0,80.0
2,1003,NaN,3,8,2,4,60.0
3,1004,NaN,0,10,1,5,45.0
4,1005,11.0,4,7,2,0,75.0
5,1006,11.0,10,7,0,0,96.0
6,1007,12.0,4,6,0,0,NaN
7,1008,12.0,10,6,2,0,NaN
8,1009,12.0,2,8,2,4,60.0
9,1010,12.0,6,9,1,0,85.0

In [ ]:
df.head(2)

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10.0,2,9,3,5,50.0
1,1002,10.0,6,8,2,0,80.0

In [ ]:
df.isnull().sum()

Student ID                0
Class                     2
Study hrs                 0
Sleeping hrs              0
Social Media usage hrs    0
Mobile Games hrs          0
Percantege                2
dtype: int64

In [ ]:
df.describe()

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
count,10.00000,8.000000,10.000,10.000000,10.000000,10.000000,8.000000
mean,1005.50000,11.250000,4.700,7.800000,1.500000,1.800000,68.875000
std,3.02765,0.886405,3.335,1.316561,0.971825,2.347576,17.892037
min,1001.00000,10.000000,0.000,6.000000,0.000000,0.000000,45.000000
25%,1003.25000,10.750000,2.250,7.000000,1.000000,0.000000,57.500000
50%,1005.50000,11.500000,4.000,8.000000,2.000000,0.000000,67.500000
75%,1007.75000,12.000000,6.000,8.750000,2.000000,4.000000,81.250000
max,1010.00000,12.000000,10.000,10.000000,3.000000,5.000000,96.000000

In [ ]:
#dropna()
df.dropna()

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1001,10.0,2,9,3,5,50.0
1,1002,10.0,6,8,2,0,80.0
4,1005,11.0,4,7,2,0,75.0
5,1006,11.0,10,7,0,0,96.0
8,1009,12.0,2,8,2,4,60.0
9,1010,12.0,6,9,1,0,85.0

In [ ]:
#dropna()
df.size

70

In [ ]:
df1=df.dropna()
df1.size

42

In [ ]:
df1.shape

(6, 7)

In [ ]:
df1=df.dropna(axis=1)
#it drop columns having NaN Values
df1.shape

(10, 5)

In [ ]:
df1 = df.dropna(axis=1)
#it drop columns having NaN Values